In [ ]:
import pandas as pd
from sklearn.linear_model import LogisticRegression 
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score, recall_score
from sklearn.metrics import f1_score, accuracy_score

Consider the pima-indians-diabetes dataset. The labels of each sample (in column I) is going to be predicted using the attributes in columns A from H (independent variables, predictors). 

Read the csv dataset into data (denoted by X) and label (denoted by y) parts.

In [ ]:
data = pd.read_csv('pima-indians-diabetes.csv', header = None)

X = data.iloc[:,0:8]
y = data.iloc[:,8]

Display the top 10 rows of the dataset

In [ ]:
data.head(10)

    0    1   2   3    4     5      6   7  8
0   6  148  72  35    0  33.6  0.627  50  1
1   1   85  66  29    0  26.6  0.351  31  0
2   8  183  64   0    0  23.3  0.672  32  1
3   1   89  66  23   94  28.1  0.167  21  0
4   0  137  40  35  168  43.1  2.288  33  1
5   5  116  74   0    0  25.6  0.201  30  0
6   3   78  50  32   88  31.0  0.248  26  1
7  10  115   0   0    0  35.3  0.134  29  0
8   2  197  70  45  543  30.5  0.158  53  1
9   8  125  96   0    0   0.0  0.232  54  1

Using the label column, split your dataset into two parts, namely training data and test data, such that each part includes approximately the same number of positive and negative samples.

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size = 0.5, random_state=1)

Using the training data, generate a logistic regression classifier to predict the Labels of the  samples in the test data.

In [ ]:
clf = LogisticRegression()
clf.fit(x_train,y_train)
y_pred = clf.predict(x_test)

Compute the Accuracy, Precision, Recall and F1 values of your classifier using the test data

In [ ]:
print(accuracy_score(y_test, y_pred))
print(precision_score(y_test, y_pred)) 
print(recall_score(y_test, y_pred)) 
print(f1_score(y_test, y_pred))

0.7708333333333334
0.7358490566037735
0.5652173913043478
0.6393442622950819

Discard the features in columns E and G. Repeat the tasks mentioned above and report the scores you obtain. Comment on the results.

In [ ]:
mylist = [0,1,2,3,5,7]
X = data.iloc[:,mylist]
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size = 0.5, random_state=1)
clf = LogisticRegression()
clf.fit(x_train,y_train)
y_pred = clf.predict(x_test)
print(accuracy_score(y_test, y_pred))
print(precision_score(y_test, y_pred)) 
print(recall_score(y_test, y_pred)) 
print(f1_score(y_test, y_pred))

0.7708333333333334
0.7314814814814815
0.572463768115942
0.6422764227642277