In [335]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from seaborn import load_dataset
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import precision_score, recall_score
from sklearn.metrics import f1_score, accuracy_score

Read the penguins dataset into the dataframe df using load_dataset('penguins'). Display the top 5 rows.
![penguins.png](attachment:penguins.png)

In [336]:
df = sns.load_dataset("penguins")

In [337]:
df.head(5)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

![bill.png](attachment:bill.png)

Display the number of rows in the dataset

In [338]:
df.shape[0]

344

Drop the rows having missing values.

In [339]:
data = df.dropna()
print(data)

    species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen            39.1           18.7              181.0
1    Adelie  Torgersen            39.5           17.4              186.0
2    Adelie  Torgersen            40.3           18.0              195.0
4    Adelie  Torgersen            36.7           19.3              193.0
5    Adelie  Torgersen            39.3           20.6              190.0
..      ...        ...             ...            ...                ...
338  Gentoo     Biscoe            47.2           13.7              214.0
340  Gentoo     Biscoe            46.8           14.3              215.0
341  Gentoo     Biscoe            50.4           15.7              222.0
342  Gentoo     Biscoe            45.2           14.8              212.0
343  Gentoo     Biscoe            49.9           16.1              213.0

     body_mass_g     sex
0         3750.0    Male
1         3800.0  Female
2         3250.0  Female
4         3450.0  Female
5         3650.0    Male
..           ...     ...
338       4925.0  Female
340       4850.0  Female
341       5750.0    Male
342       5200.0  Female
343       5400.0    Male

[333 rows x 7 columns]

Use the columns 'bill_length_mm', 'bill_depth_mm', 'flipper_length_mm' and 'body_mass_g' to define the data (use variable X) and the column 'species' to define the labels (use variable y)

In [340]:
X = data.iloc[:,2:6]
y = data.iloc[:, 0]
print(y)

0      Adelie
1      Adelie
2      Adelie
4      Adelie
5      Adelie
        ...
338    Gentoo
340    Gentoo
341    Gentoo
342    Gentoo
343    Gentoo
Name: species, Length: 333, dtype: object

Using the describe method, check the range of values in each column of X and comment.

In [341]:
X.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      333.000000     333.000000         333.000000   333.000000
mean        43.992793      17.164865         200.966967  4207.057057
std          5.468668       1.969235          14.015765   805.215802
min         32.100000      13.100000         172.000000  2700.000000
25%         39.500000      15.600000         190.000000  3550.000000
50%         44.500000      17.300000         197.000000  4050.000000
75%         48.600000      18.700000         213.000000  4775.000000
max         59.600000      21.500000         231.000000  6300.000000

Using the label column, split your dataset into two parts, namely training data and test data, such that each part includes approximately the same number of samples from each class. Set random_state = 428

In [342]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 428)

Using the training data, generate a kNN classifier to predict the labels of the samples in the test data.

In [343]:
clf = KNeighborsClassifier()
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)

Compute the Accuracy of your classifier using the test data

In [344]:
print('Accuracy: ', accuracy_score(y_test,y_pred))

Accuracy:  0.8571428571428571

Scale the columns in the training and test datasets using zero mean and unit variance normalization. Note that StandardScaler returns Numpy ndarrays.

In [345]:
from sklearn.preprocessing import StandardScaler
scaler  = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

Display the column means of x_train and x_test. Notice the diferences in the means and comment.

Using the scaled training data, generate a kNN classifier to predict the labels of the samples in the scaled test data.

In [346]:
clf = KNeighborsClassifier()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

Compute the Accuracy of your classifier using the scaled test data and compare with the accuracy you obtained before scaling,

In [347]:
print('Accuracy after scaling = ', accuracy_score(y_test,y_pred))

Accuracy after scaling =  0.9880952380952381